html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 1rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.navbar-brand {
  width: 100%;
  text-align: center;
}
.content {
  margin: 0 auto;
  padding-top: 64px;
  max-width: 640px;
  width: 94%;
  padding-bottom: 50px;
}

.todo-title {
  text-align:center;
  margin-left: 10px;
  margin-bottom:35px;
}

.form-control {
  border-radius: 0px;
}

.input-field {
  width: 85%;
  margin-left: 10%;
  margin-bottom: 14px;
}

.todo-list {
  padding:5px;
}

.glyphicon-record {
  float: left;
  font-size: 20px;
  color: dimgray;
  margin-top: 6px;
}

.todo-wrapper {
  padding:5px 10px; 
  cursor: move;
}

.todo-unit{
  float: right !important;
  width: 94% !important;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  background-color: #efefef;
  text-align: center;
}

.footer-text {
  margin-top: 1em;
}